// animations appear
.move-left {
    transform: translateX(-.75%);
    animation: move-left var(--time-animation) both;

    @keyframes move-left {
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.move-right {
    transform: translateX(.75%);
    animation: move-right var(--time-animation) both;

    @keyframes move-right {
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.move-top {
    transform: translateY(-.75%);
    animation: move-top var(--time-animation) both;

    @keyframes move-top {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.move-bottom {
    transform: translateY(3.5%);
    animation: move-bottom var(--time-animation) both;

    @keyframes move-bottom {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.appear-center {
    animation: appear-center var(--time-animation) both;

    @keyframes appear-center {
        to {
            opacity: 1;
        }
    }
}

// animations img
.img-left-move {
    transform: translateY(-3.5%);
    animation: appear-top var(--time-animation) both;
}

.img-right-move {
    transform: translateY(3.5%);
    animation: appear-bottom var(--time-animation) both;
}

@keyframes appear-top {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes appear-bottom {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

// animation loading
.overlay-loading {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity var(--time-animation);
}

// animation hover
.animation-hover-active {
    &:hover .animation-hover {
        color: var(--color-important) !important;
    }
}

.animation-hover {
    transition: color var(--time-transition-work);
}