// animations appear
.move-left {
    transform: translateX(-.75%);
    animation: move-left var(--time-animation) both;

    @keyframes move-left {
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.move-right {
    transform: translateX(.75%);
    animation: move-right var(--time-animation) both;

    @keyframes move-right {
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.move-top {
    transform: translateY(-.75%);
    animation: move-top var(--time-animation) both;

    @keyframes move-top {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.move-bottom {
    transform: translateY(3.5%);
    animation: move-bottom var(--time-animation) both;

    @keyframes move-bottom {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.appear-center {
    animation: appear-center var(--time-animation) both;

    @keyframes appear-center {
        to {
            opacity: 1;
        }
    }
}

// animations img
.img-left-move {
    transform: translateY(-3.5%);
    animation: appear-top var(--time-animation) both;
}

.img-right-move {
    transform: translateY(3.5%);
    animation: appear-bottom var(--time-animation) both;
}

@keyframes appear-top {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes appear-bottom {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

// animation loading
.overlay-loading {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity var(--time-animation);
}

.visible-illustration {
    visibility: visible !important;
}

// animation hover
.animation-hover-active {
    &:hover .animation-hover {
        color: var(--color-important) !important;
    }
}

.animation-hover {
    transition: color var(--time-transition-work);
}

// animations button
.shadow-appear {
    animation: shadow-appear var(--time-animation) both;

    @keyframes shadow-appear {
        to {
            box-shadow: var(--base-shadow) var(--color-shadow);
        }
    }
}

// animations parts
.animation-part-one {
    .layout-offer::before {
        animation: part-one-before-animation var(--time-animation) both 0ms;

        @keyframes part-one-before-animation {
            to {
                background: var(--color-before);
                top: 5px;
                left: 5px;
            }
        }
    }

    .layout-offer::after {
        animation: part-one-after-animation var(--time-animation) both 0ms;

        @keyframes part-one-after-animation {
            to {
                background: var(--color-after);
                top: 10px;
                left: 10px;
            }
        }
    }
}

.animation-part-two {
    .layout-offer::before {
        animation: part-two-before-animation var(--time-animation) both 100ms;

        @keyframes part-two-before-animation {
            to {
                background: var(--color-before);
                top: 5px;
                left: -5px;
            }
        }
    }

    .layout-offer::after {
        animation: part-two-after-animation var(--time-animation) both 100ms;

        @keyframes part-two-after-animation {
            to {
                background: var(--color-after);
                top: 10px;
                left: -10px;
            }
        }
    }
}

.animation-part-three {
    .layout-offer::before {
        animation: part-three-before-animation var(--time-animation) both 200ms;

        @keyframes part-three-before-animation {
            to {
                background: var(--color-before);
                top: -5px;
                left: 5px;
            }
        }
    }

    .layout-offer::after {
        animation: part-three-after-animation var(--time-animation) both 200ms;

        @keyframes part-three-after-animation {
            to {
                background: var(--color-after);
                top: -10px;
                left: 10px;
            }
        }
    }
}

.animation-part-four {
    .layout-offer::before {
        animation: part-four-before-animation var(--time-animation) both 300ms;

        @keyframes part-four-before-animation {
            to {
                background: var(--color-before);
                top: -5px;
                left: -5px;
            }
        }
    }

    .layout-offer::after {
        animation: part-four-after-animation var(--time-animation) both 300ms;

        @keyframes part-four-after-animation {
            to {
                background: var(--color-after);
                top: -10px;
                left: -10px;
            }
        }
    }
}