@import './base.scss';
@import './utils.scss';
@import './animations.scss';

body {
  background: var(--background-main);
  color: var(--color-text);

  font-family: var(--f-family);
  line-height: var(--f-line-global);
  font-weight: var(--f-regular);
  font-size: var(--f-size-global);
  letter-spacing: var(--f-space-global);
  font-optical-sizing: auto;
  font-style: normal;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: inherit;
  transition: opacity var(--time-transition);

  @media #{$mobileScreen} {
    &:not(.project-url, .link-logo, .button-base, .link-host):hover {
      opacity: .85;
    }
  }
}

a.router-link-active {
  --lord-icon-primary: var(--color-important);
  cursor: default;
  color: var(--color-important);
  opacity: 1 !important;
  transition: color var(--time-transition);
}

.nav-link,
.card,
.copyright {
  a {
    text-decoration: none !important;
  }
}

img,
video {
  display: flex;
  width: inherit;
}

h1,
h2,
h3 {
  font-family: var(--f-family-title);
  line-height: var(--f-line-title);
  font-weight: var(--f-bold);
}

h1 {
  font-size: var(--f-size-h1);
  color: var(--color-heading-h1);
}

h1:not(.catchphrase) {
  opacity: var(--opacity-animation);
}

h2 {
  font-size: var(--f-size-h2);
  color: var(--color-heading-h2);
}

h3 {
  font-size: var(--f-size-h3);
  color: var(--color-heading-h3);
}

u {
  background-color: var(--orange-opaque);
}

strong {
  font-weight: bold;
}

.important-text {
  color: var(--color-important);
}

// Scrollbar
::-webkit-scrollbar-track {
  // background: var(--parchment);
  // padding: 1px;
}

::-webkit-scrollbar-thumb {
  // background: var(--color-border-1);
  // border-radius: 3px;
}