@import './base.scss';
@import './utils.scss';

body {
  background: var(--background-main);
  color: var(--color-text);

  font-family: var(--f-family);
  line-height: var(--f-line-global);
  font-weight: var(--f-regular);
  font-size: var(--f-size-global);
  letter-spacing: var(--f-space-global);
  font-optical-sizing: auto;
  font-style: normal;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow-x: hidden;
}

#app {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

a,
.link-mentions {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: color var(--time-transition), opacity var(--time-transition);

  @media #{$mobileScreen} {
    &:not(.project-url, .link-logo):hover {
      opacity: .5;
    }
  }

  &:active {
    opacity: .5;
  }
}

a.router-link-active {
  cursor: default;
  color: var(--color-important);
  opacity: 1 !important;
}

.nav-link {
  // links menu
}

img {
  display: flex;
}

h1,
h2,
h3 {
  font-family: var(--f-family-title);
  line-height: 1;
}

h1 {
  font-size: 2.4em;
  font-weight: var(--f-bold);
  color: var(--color-heading-h1);
}

h1:not(.catchphrase) {
  transform: translateX(-.75%);
  opacity: 0;
  animation: appear-title var(--time-animation) both;

  @keyframes appear-title {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

h2 {
  font-size: 1.8em;
  font-weight: var(--f-bold);
  color: var(--color-heading-h2);
  margin-bottom: 1em;
}

h3 {
  font-size: 1.1em;
  font-weight: var(--f-bold);
  color: var(--color-heading-h3);
}

.important {
  color: var(--color-link);
  font-weight: var(--f-bold);
}

strong {
  font-weight: bold;
}

svg {
  background-color: transparent;
}

.button {
  svg {
    transition: .3s;
  }
}

input,
textarea {
  font-size: .89em;
}

// Scrollbar
::-webkit-scrollbar-track {
  background: var(--parchment);
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-border-1);
  border-radius: 3px;
}


// Vue-writer
.is-typed {
  color: var(--color-link);
}

.is-typed span.typed {
  font-weight: var(--weight-very-bold);
}

.is-typed span.cursor {
  display: inline-flex;
  place-items: center;
  width: 3px;
  height: 1.5em;
  background-color: var(--color-heading);
  animation: blink 1s infinite;
}

.is-typed span.cursor.typing {
  animation: none;
}

@keyframes blink {
  49% {
    background-color: var(--color-heading);
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }
}