  // Switch Version Mobile/Desktop
  $switch: "only screen and (min-width: 1024px)";

  // Max Desktop
  $maxDesktopScreen: "only screen and (min-width: 1920px)";

  // Desktop
  $desktopScreen: "only screen and (min-width: 1440px)";

  // Tablet
  $tabletScreen: "only screen and (min-width: 1024px)";

  // Mobile
  $mobileScreen: "only screen and (min-width: 767px)";