  // Desktop
  $desktopScreen: "only screen and (max-width: 1440px)";
  $desktopDownScreen: "only screen and (min-width: 970px)";

  // Tablet
  $tabletScreen: "only screen and (max-width: 970px)";

  // Mobile
  $mobileUpScreen: "only screen and (max-width: 720px)";
  $mobileMediumScreen: "only screen and (max-width: 520px)";
  $mobileDownScreen: "only screen and (max-width: 375px)";

  // Menu mobile
  $mobileMenuHidden: "only screen and (max-width: 970px)";
  $mobileMenuVisible: " only screen and (min-width: 970px)";




  // Switch Version Mobile/Desktop
  $switch: "only screen and (min-width: 1024px)";

  // Max Desktop
  $maxDesktopScreen: "only screen and (min-width: 1920px)";

  // Desktop
  $desktopScreen: "only screen and (min-width: 1440px)";

  // Tablet
  $tabletScreen: "only screen and (min-width: 1024px)";

  // Mobile
  $mobileScreen: "only screen and (min-width: 767px)";