.hidden {
    overflow: hidden !important;
}

.frameworkX {
    padding-left: var(--side-x);
    padding-right: var(--side-x);

    @media #{$mobileScreen} {
        --side-x: calc(50% - var(--desktop) / 2);
        // --side-x: max(var(--side), calc(50% - var(--desktop) / 2));
    }
}

.frameworkY {
    padding-top: var(--side-y);
    padding-bottom: var(--side-y);
}

.padding-x {
    padding-left: var(--side);
    padding-right: var(--side);
}

.padding-bottom-page {
    padding-bottom: var(--margin-block-y);
}

.margin-y {
    margin-top: var(--margin-block-y);
    margin-bottom: var(--margin-block-y);
}

.margin-x {
    margin-left: var(--margin-block-x);
    margin-right: var(--margin-block-x);
}

.middle {
    display: flex;
    place-content: center;
    place-items: center;
}

.shadow {
    box-shadow: 0 1px 2px var(--color-shadow);
}

.layout-title {
    background: var(--background-main);
    width: fit-content;
    padding: var(--side) var(--side-up);
    margin-top: var(--side-y);
}

.space-bottom-p {
    margin: 1em 0;
}

.space-text {
    --space-p: var(--side);
    margin-bottom: var(--space-p);
}

.space-text.low {
    --space-p: 1em;
}

.space-text:last-child {
    margin-bottom: 0 !important;
}

// responsive
.switch-direction {
    flex-direction: column;

    @media #{$switch} {
        flex-direction: row;
    }
}

// animation hover
.animation-hover-active {
    &:hover .animation-hover {
        color: var(--color-important) !important;
    }
}

.animation-hover {
    transition: color var(--time-transition-work);
}